doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge") 		
		script(src='./scripts/hamburger.js')
		title Discover Life
	body
		include includes/nav/nav
		include includes/header
		a hello world	
